@{
    ViewData["Title"] = "Gizlilik";
}
<h1>@ViewData["Title"]</h1>

<p>Bu sayfa, NovusCap Ekosistem Haritası uygulamasının gizlilik politikasını içermektedir.</p>

<p>Google Maps API kullanarak, girişimcilik ekosistemindeki kurumların fiziksel konumlarını gösteriyoruz. Bu harita üzerindeki tüm veriler kamuya açık kaynaklardan toplanmıştır. Eğer haritada gösterilen kurumunuzun bilgilerinin düzeltilmesini veya kaldırılmasını isterseniz, lütfen bizimle iletişime geçin.</p> 